name: Build

on:
  workflow_call:

jobs:
  build:
    runs-on: java_build

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn clean package -DskipTests=true

      - name: Upload JAR to Nexus
        run: |
          curl -u "${{ secrets.NEXUS_USERNAME }}:${{ secrets.NEXUS_PASSWORD }}" \
          --upload-file target/*.jar \
          http://13.233.164.134/repository/maven-releases/
