name: Sonar Scan

on:
  workflow_call:

jobs:
  sonar:
    runs-on: java_build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'
          cache: maven

      - name: SonarCloud Scan
        run: |
          mvn clean verify sonar:sonar \
            -Dsonar.projectKey=r-bit548 \
            -Dsonar.organization=r-bit548 \
            -Dsonar.host.url=https://sonarcloud.io \
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}
            -Dsonar.GITHUB_TOKEN=${{ secrets.GIT_TOKEN }}

